{% extends (craft.request.isAjax and not craft.request.isLivePreview) ? "_ajax-layout" : "_layout" %}
{% set title = "Who We Are" %}
{% set founders = craft.entries.section('founders') %}

{% block content %}
  <div class="js-ajax-wrapper">

    <div class="pageContainer-xl bg-gradient-grey pb5 overflow-hidden">

      <div class="container">
        <div class="w-80-ns mb5">
          <div class="lead-xl">
            {{ entry.pageIntroduction }}
          </div>
        </div>

        <div class="w-100">
          {% for entry in craft.entries.section('founders') %}
            {% set colour = cycle(['teal', 'red', 'blue', 'green', 'orange'], loop.index0) %}
            {% set img = entry.founderPhoto.first() %}
            <div class="w-100 mb3 mt3 overflow-hidden flex-ns">
                <div class="w-40-ns w-100 fl tc self-center">
                  <div class="quoteBlock-photo quoteBlock-border quoteBlock-border-{{colour}} mt3 mb2 mb4-ns roundPhoto-300 roundPhoto-300-ns dib">
                    <img src="{{ img.getURL('roundPortrait') }}" />
                  </div>
                </div>
                <div class="fl pl5-ns w-60-ns w-100 self-center">
                  <div>
                    <div class="f2 rm-{{colour}} tc tl-ns">
                      {{ entry.title }}
                    </div>
                    {{ entry.body }}
                  </div>
                  {% if entry.twitterUrl %}
                    <a class="icon mr2" href="{{ entry.twitterUrl }}" target="_blank"><img src="dist/images/icon-twitter.png" data-rjs="2"/></a>
                  {% endif %}
                  {% if entry.linkedinUrl %}
                    <a class="icon" href="{{ entry.linkedinUrl }}" target="_blank">
                      <img src="dist/images/icon-linkedin.png" data-rjs="2" />
                    </a>
                  {% endif %}
                </div>

              </div>
          {% endfor %}
        </div>

      </div>

    </div>
  </div>
{% include '_includes/_footer.html' %}
{% endblock %}
