{% set img = entry.headerImage.first() %}
<div class="w-100 cover mb4" style="background-image: url({{ img.getUrl() }});">
  <div class="ma5 pa4 w-50 fl bg-3x3 border-white border-{{ colour }}-hover pointer-none">
    <div class="mb5">
      <a class="fxl mb5 a-plain rm-text rm-{{ colour }}-hover pointer-auto" href="{{ entry.url }}">{{ entry.title }}</a>
    </div>
    <div class="w-100">
      <a href="{{ entry.url }}" class="btn btn-continue btn-{{ colour }} pointer-auto"></a>
    </div>
  </div>
</div>
