{% set img = entry.headerImage.first() %}
<div class="post w-100 w-33-ns pa3 mb3 mb0-ns">
  <div data-colour="{{colour}}" class="border-hover border-white pointer-none shadowhover">
    <a href="{{entry.url}}" class="post__img cover pointer-auto" style="background-image: url({{ img.getUrl() }});"></a>
    <div class="post__content pa4 pb0">

      <a class="title f4 a-plain rm-text rm-{{ colour }}-hover pointer-auto" href="{{ entry.url }}">{{ entry.title }}</a>
      <div class="caps-small-f pb3">
        By {{ entry.author.firstName }} {{ entry.author.lastName }}
      </div>
    </div>
    <div class="h1 w-100 bg-{{colour}} db"></div>
  </div>
</div>
