<div class="contactModal fixed top-0 left-0 right-0 bottom-0 w-100 h-100 z-9 bg-3x3 overflow-y-scroll dn">
  <div class="header pa3 ph4 overflow-hidden absolute w-100 left-0">
    <a class="contactClose btn-menu btn-menu-close fr db rm-grey-bg" href=""></a>
  </div>
  <div class="w-100 ph4 w-60-ns m-auto pt5">
    <h2 class="f1 tl">Get in touch</h2>
    <div class="w-100 pr4 w-70-ns fl">
      {% macro errorList(errors) %}
          {% if errors %}
              <ul class="errors">
                  {% for error in errors %}
                      <li>{{ error }}</li>
                  {% endfor %}
              </ul>
          {% endif %}
      {% endmacro %}

      {% from _self import errorList %}
      <form method="post" action="" accept-charset="UTF-8" class="tl">
          {{ getCsrfInput() }}
          <input type="hidden" name="action" value="contactForm/sendMessage">
          <input type="hidden" name="redirect" value="contact/thanks">

          <label class="caps-small-f tl" for="fromName">Your Name</label>
          <input class="w-100 mb3 ph2" id="fromName" type="text" name="fromName" value="{% if message is defined %}{{ message.fromName }}{% endif %}">
          {{ message is defined and message ? errorList(message.getErrors('fromName')) }}

          <label class="caps-small-f" for="fromEmail">Your Email</label>
          <input class="w-100 mb3 ph2" id="fromEmail" type="email" name="fromEmail" value="{% if message is defined %}{{ message.fromEmail }}{% endif %}">
          {{ message is defined and message ? errorList(message.getErrors('fromEmail')) }}

          <label class="caps-small-f" for="subject">Subject</label>
          <input class="w-100 mb3 ph2" id="subject" type="text" name="subject" value="{% if message is defined %}{{ message.subject }}{% endif %}">
          {{ message is defined and message ? errorList(message.getErrors('subject')) }}

          <label class="caps-small-f" for="message">Message</label>
          <textarea class="w-100 mb3 ph4" rows="4" cols="10" id="message" name="message">{% if message is defined %}{{ message.message }}{% endif %}</textarea>
          {{ message is defined and message ? errorList(message.getErrors('message')) }}

          <input class="btn w-100" type="submit" value="Send">
      </form>
    </div>
    <div class="w-30 fr tl mt4">
      <div>
        <div class="caps-small-f lh-solid">General enquires</div>
        <div class="rm-text-2 lead mb4">{{ contact.generalEmailAddress }}</div>
      </div>
      <div>
        <div class="caps-small-f lh-solid">Press enquires</div>
        <div class="rm-text-2 lead">{{ contact.pressEmailAddress }}</div>
      </div>
    </div>
  </div>
</div>
