{% set img = entry.headerImg.first() %}
<div data-colour="{{colour}}" class="border-hover w-100 bg-grey cover relative flex-ns flex-row-ns items-stretch-ns fl-ns h6-ns mb4 bg-white border-white" style="background-image: url({{ img.getUrl() }});">
  <div class="pa4 w-100 h-100 cover z-1 relative">
    <div class="z-1 relative h-100 flex flex-column justify-between">
      <div>
        <div>
          <a href="{{ entry.url }}" class="rm-text rm-{{ colour }}-hover f1 db mb4 mb0-ns a-plain pointer-auto">
            {{ entry.title }}
          </a>
        </div>
      </div>
      <div>
        <a href="{{ entry.url }}" class="pointer-auto bg-{{ colour }} db fl">
          <div class="w-100 w-auto-ns rm-text caps-small-f tc pa4 bg-white fl">
            {{ entry.timeAndDate|date("F d Y H:i") }}
          </div>
          <div class="w-100 w-auto-ns tc white caps-small-f fl pa4 center h-100 cover relative">
            GET TICKETS
          </div>
        </a>

      </div>
    </div>
  </div>
  <div class="bg-mesh"></div>
</div>
