{% if entry.specifiedPermalink is defined %}
  {% set url = entry.specifiedPermalink %}
{% else %}
  {% set url = entry.url %}
{% endif %}

{% set img = entry.headerImg.first() %}
<div data-colour="{{colour}}" class="border-hover w-100 bg-grey cover relative fl-ns mb4 bg-white border-white shadowhover" style="background-image: url({{ img.getUrl() }});">
  <div class="pa4 w-100 h-100 cover z-1 relative">
    <div class="z-1 relative h-100 flex-ns">
      <div class="w-100 w-60-ns self-center">
        <a href="{{ url }}" class="title rm-text rm-{{ colour }}-hover fxl db mb4 pr4-ns mb0-ns a-plain pointer-auto">
          {{ entry.title }}
        </a>
      </div>
      <div class="w-100 w-40-ns bg-white pa4 self-center">
        <div>
          <div class="mb2">
            <div class="caps-small-f">When</div>
            <div class="mb3 f4 mb0">{{ entry.timeAndDate|date("F d Y") }}</div>
          </div>
          <div class="mb4">
            <div class="caps-small-f">Where</div>
            <div class="f4 mb0">{{ entry.eventLocation }}</div>
          </div>
        </div>
        <a href="{{ url }}" class="w-100 btn btn-continue-100 btn-{{colour}} btn-nopad"></a>
      </div>
    </div>
  </div>
  <div class="bg-mesh"></div>
</div>
