<div class="footer w-100 pl2-m pr2-m pt5 pb3 fl">
    <div class="w-100">
      <div class="tc">
        <a class="logo" href="/">Rainmaking<a/>
      </div>
    </div>
    <div class="w-100">
      <div class="w-25 tc fl pt5">
        <div class="caps-xsmall-f">Berlin</div>
        <div class="text-small">123 Tower Bridge EC1 F3F</div>
        <div class="text-small">berlin@rainmaking.io</div>
      </div>
      <div class="w-25 tc fl pt5">
        <div class="caps-xsmall-f">London</div>
        <div class="text-xsmall">123 Tower Bridge EC1 F3F</div>
        <div class="text-xsmall">berlin@rainmaking.io</div>
      </div>
      <div class="w-25 tc fl pt5">
        <div class="caps-xsmall-f">Singapore</div>
        <div class="text-xsmall">123 Tower Bridge EC1 F3F</div>
        <div class="text-xsmall">berlin@rainmaking.io</div>
      </div>
      <div class="w-25 tc fl pt5">
        <div class="caps-xsmall-f">Copenhagen</div>
        <div class="text-xsmall ">123 Tower Bridge EC1 F3F</div>
        <div class="text-xsmall">berlin@rainmaking.io</div>
      </div>
    </div>
</div>
