{% set locations = craft.entries.section('locations') %}

<div class="bg-white z-5 relative footer w-100 ph4 pr2-m pt5 pb5 fl">
    <div class="w-100">
      <div class="tc">
        <a class="logo" href="/">Rainmaking<a/>
      </div>
    </div>

    <div class="w-100 pt4">
      {% for entry in craft.entries.section('locations') %}
        <div class="w-100 w-25-ns tc fl pt4">
          <div class="caps-xsmall-f lh-solid">{{ entry.title }}</div>
          <div class="text-small rm-text-2 ">{{ entry.address}}</div>

        </div>
      {% endfor %}
    </div>
</div>
