<div class="header overflow-hidden left-0 w-100 z-999 bg-white">
  <div class="container">
    <div class="relative z-1 flex justify-between flex-row">
      <a href="/" class="logo fl hover-50 pointer">
        {% include '_includes/_svg_logo.html' %}
      </a>
      <div>

        {% if backTo == 'blog'  %}
          <a class="mr4 hover-50" href="/blog">
            {% include '_includes/_svg_arrowBack.html' %}
          </a>
        {% endif %}

        {% if backTo == 'events'  %}
          <a class="mr4 hover-50" href="/events">
            {% include '_includes/_svg_arrowBack.html' %}
          </a>
        {% endif %}

        {% if backTo == 'partnerships'  %}
          <a class="mr4 hover-50" href="/partnerships">
            {% include '_includes/_svg_arrowBack.html' %}
          </a>
        {% endif %}

        <a class="btn-menu menuToggle" href="">
          <svg width="25px" height="60px" viewBox="0 0 25 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square">
                  <g id="Partnerships:hover" transform="translate(-961.000000, -44.000000)" stroke-width="2" stroke="#062D40">
                      <g id="Group" transform="translate(962.000000, 44.000000)">
                          <g id="Group-5">
                              <path d="M22.0227146,1 L0,1" id="Line-Copy"></path>
                              <path d="M22.0227146,6 L0,6" id="Line-Copy-5"></path>
                              <path d="M22.0227146,11 L0,11" id="Line-Copy-6"></path>
                          </g>
                      </g>
                  </g>
              </g>
          </svg>

        </a>
      </div>
    </div>
  </div>
  <!-- <div id="header-bg" class="bg-white position absolute w-100 h-100 z-0"></div> -->
</div>
