<meta charset="utf-8" />
<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
<link rel="home" href="{{ siteUrl }}" />
<link rel="stylesheet" href="/dist/css/main.css">
<script src="/dist/js/main.js"></script>
<meta name="viewport" content="width=device-width">
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-27687961-4', 'auto');
ga('send', 'pageview');
</script>

<script>

(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=133862413742331";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

$(document).ajaxComplete(function(){
  window.fbAsyncInit = function(){  // this gets triggered when FB object gets initialized
     console.log("FB Object initiated");
     FB.XFBML.parse(); // now we can safely call parse method
  };

});

</script>

<script src="//platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
