<div class="menu bg-dark fixed top-0 right-0 left-0 pt0 pr0 overflow-scroll">
  <div class="header overflow-hidden absolute w-100 left-0 z-4">
    <div class="container flex flex-row justify-end">
      <a class="menuToggle menuToggle-close btn-menu trigger" href="">
        {% include '_includes/_svg_menuButtonClose.html' %}
      </a>
    </div>
  </div>
  <div class="container relative h-100">
    <div class="h-100 flex items-center relative">
      <div class="w-100 flex-ns items-center">
        <div class="w-100 w-50-ns fl mb3 ">
          <div id="menu-pillars">
            <div><a class="pillar dib f2 fxxl-ns mb2-ns a-plain rm-text-2 rm-teal-hover" data-type="accelerators" href="/accelerator">Accelerators</a></div>
            <div><a class="pillar dib f2 fxxl-ns  mb2-ns a-plain rm-text-2 rm-red-hover" data-type="spaces" href="/spaces">Spaces</a></div>
            <div><a class="pillar dib f2 fxxl-ns  mb2-ns a-plain rm-text-2 rm-blue-hover" data-type="companies" href="/startups">Startups</a></div>
            <div><a class="pillar dib f2 fxxl-ns a-plain rm-text-2 rm-green-hover" href="/partnerships">Partnerships</a></div>
          </div>
        </div>
        <div id="home-intro-text" class="w-100 w-50-ns fr-ns home-intro-text relative mt2 z-4">
          <div class="w-100 w-50-ns pl5-ns">
            <div><a class="white a-plain dib caps-small-f mb2 mb3-ns fade-menu"  href="/our-story">Our Story</a></div>
            <div><a class="white a-plain dib caps-small-f mb2 mb3-ns fade-menu"  href="/founders">Founders</a></div>
            <div><a class="white a-plain dib caps-small-f mb3 mb3-ns fade-menu"  href="/blog">Blog</a></div>
            <div><a class="white a-plain dib caps-small-f mb3 mb3-ns fade-menu"  href="/events">Events</a></div>
            <div><a class="white a-plain dib caps-small-f mb3 mb3-ns fade-menu"  href="/contact">Contact</a></div>
            <div>
            {% include '_includes/_socials.html' with { 'colour' : 'white' } %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
