<div id="page-pillars" class="h-100-ns flex items-center relative pt6 pt0-ns">
  <div id="intro-links" class="w-100 w-40-ns fl mb3">
    <div><a class="a-plain rm-text dib f2 fxxl-ns mb2-ns rm-teal-hover z-4 relative {% if title == 'Accelerator' %} rm-teal{% endif %}" data-type="accelerators" href="/accelerator">Accelerators</a></div>
    <div><a class="rm-text dib f2 fxxl-ns mb2-ns a-plain rm-red-hover z-4 relative {% if title == 'Spaces'%}rm-red{% endif %}" data-type="spaces" href="/coworking">Co-working</a></div>
    <div><a class="rm-text dib f2 fxxl-ns mb2-ns a-plain rm-blue-hover z-4 relative {% if title == 'Startups'%}rm-blue{% endif %}" data-type="companies" href="/startups">Startups</a></div>
    <div><a class="rm-text dib f2 fxxl-ns mb2-ns a-plain rm-green-hover z-4 relative {% if title == 'Partnerships'%}rm-green{% endif %}" href="/partnerships">Partnerships</a></div>
  </div>
</div>
