{% set img = entry.partnershipHeaderImage.first() %}
<div class="w-100 w-50-ns fl-ns h-auto h7-ns pb3 pa3-ns">
  <div class="pa4 w-100 h-100 cover z-1 relative border-white border-{{ colour }}-hover pointer-none" style="background-image: url({{ img.getUrl() }});">
    <div class="z-1 relative h-100 flex flex-column justify-between">
      <div>
        <a href="{{ entry.url }}" class="f2 db mb4 mb0-ns a-plain rm-text rm-{{ colour }}-hover pointer-auto">
          {{ entry.title }}
        </a>
      </div>
      <div>
        <a href="{{ entry.url }}" class="btn btn-continue btn-{{ colour }} pointer-auto"></a>
      </div>
    </div>
    <div class="bg-mesh"></div>
  </div>
</div>
