{% set img = entry.partnershipHeaderImage.first() %}
<div class="w-100 w-50-ns fl-ns h-auto h8-ns pb4 pa0-ns">
  <div data-colour="{{colour}}" class="shadowhover border-hover pa4 w-100 h-100 cover z-1 relative border-white" style="background-image: url({{ img.getUrl() }});">
    <div class="z-1 relative h-100 flex flex-column justify-between">
      <div>
        <a href="{{ entry.url }}" class="title f1 db mb4 mb0-ns a-plain rm-text rm-{{ colour }}-hover pointer-auto">
          {{ entry.title }}
        </a>
      </div>
      <div class="flex flex-row justify-between">
        <a href="{{ entry.url }}" class="btn btn-continue btn-{{ colour }} pointer-auto"></a>
        <div class="self-center">
          {% set logo = entry.partnershipLogo.first() %}
          <img class="v-mid pv5 pv0-ns" width="150" src="{{ logo.getURL() }}" />
        </div>
      </div>
    </div>
    <div class="bg-mesh"></div>
  </div>
</div>
