{% if align == 'left' %}
  {% set quoteAlign = 'order-1' %}
  {% set linkAlign = 'order-2' %}
{% else %}
  {% set quoteAlign = 'order-2' %}
  {% set linkAlign = 'order-1' %}
{% endif %}

{% set img = entry.partnershipHeaderImage.first() %}
<div class="w-100 relative flex-ns flex-row-ns items-stretch-ns fl-ns h-auto">
  <div data-colour="{{colour}}" class="shadowhover border-hover border-white w-100 h-100 bg-white flex-ns">
    <div class="w-100 w-50-ns {{ linkAlign }} pointer-auto">
      <div class="pa4 w-100 h-100 cover z-1 relative" style="background-image: url({{ img.getUrl() }});">
        <div class="z-1 relative h-100 flex flex-column justify-between">
          <div>
            <a href="{{ entry.url }}" class="f2 db mb4 mb0-ns a-plain rm-text rm-{{ colour }}-hover pointer-auto">
              {{ entry.title }}
            </a>
          </div>
          <div class="flex flex-row justify-between">
            <a href="{{ entry.url }}" class="btn btn-continue btn-{{ colour }} pointer-auto"></a>
            <div class="self-center">
              {% set logo = entry.partnershipLogo.first() %}
              <img class="v-mid pv5 pv0-ns" width="150" src="{{ logo.getURL() }}" />
            </div>
          </div>
        </div>
        <div class="bg-mesh"></div>
      </div>
    </div>
    <div class="w-100 w-50-ns fl-ns {{ quoteAlign }} relative dn db-ns pointer-auto">
      <div class="w-100 fl pa4 overflow-hidden h-100">
        <div class="speechmarks speechmarks-{{colour}}">

          <div class="pb4 pl3">
            {{ entry.partnershipQuote }}
          </div>
          <div class="pl3">
            <div class="roundPhoto roundPhoto-80 dib fl">
              {% set quotePhoto = entry.partnershipQuotePhoto.first() %}
              <img src="{{ quotePhoto.getURL('roundPortrait') }}" />
            </div>
            <div class="ml3 fl">
              <div class="mt3 lh-copy w-100">{{ entry.partnershipQuoteName }}</div>
              <div class="caps-small-f lh-copy w-100">{{ entry.partnershipQuoteJobRole }}</div>
              <div class="caps-small-f lh-copy w-100">{{ entry.companyName }}</div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
