<div id="fb-root"></div>
<div class="tc">
  <div class="tc">
    <a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>

  <div class="tc mb3">
    <div class="fb-like" data-href="{{url}}" data-layout="button" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
  </div>

  <div class="tc linkedinDetail">
    <script type="IN/Share" data-url="{{ url }}"></script>
  </div>
</div>
