{% if socials.twitterUrl %}
  <a href="" class="mr2 bg-center bg-no-repeat br1 bg-size-60 bg-grey-2 w2 h2 dib" style="background-image:url('/dist/images/icon_twitter_white.svg')"></a>
{% endif %}
{% if socials.linkedinUrl %}
  <a href="" class="mr2 bg-center bg-no-repeat br1 bg-size-60 bg-grey-2 w2 h2 dib" style="background-image:url('/dist/images/icon_linkedin_white.svg')"></a>
{% endif %}
{% if socials.facebookUrl %}
  <a href="" class="mr2 bg-center bg-no-repeat br1 bg-size-60 bg-grey-2 w2 h2 dib" style="background-image:url('/dist/images/icon_facebook_white.svg')"></a>
{% endif %}
