{% if socials.twitterUrl %}
  <a href="" class="mr2 bg-center bg-no-repeat br1 bg-size-60 w2 h2 dib hover-50" style="background-image:url('/dist/images/icon_twitter_{{colour}}.svg')"></a>
{% endif %}
{% if socials.linkedinUrl %}
  <a href="" class="mr2 bg-center bg-no-repeat br1 bg-size-60 w2 h2 dib hover-50" style="background-image:url('/dist/images/icon_linkedin_{{colour}}.svg')"></a>
{% endif %}
{% if socials.facebookUrl %}
  <a href="" class="mr2 bg-center bg-no-repeat br1 bg-size-60 w2 h2 dib hover-50" style="background-image:url('/dist/images/icon_facebook_{{colour}}.svg')"></a>
{% endif %}
