<div class="w-100 pt4" id="stickyAside">
  <div class="w-80 m-auto">
    <div class="tc">
      <h2 class="f2 pb0 rm-text-2 mb0">{{ newsletterSignup.pageTitle}}</h2>
      <p class="rm-text-2">{{ newsletterSignup.body }}</p>
    </div>
    <form action="http://startupbootcampinsurtech.createsend.com/t/i/s/bblui/" method="post" id="subForm">
      <div class="mb2">
        <input class="caps-small-f w-100 tc" id="fieldName" placeholder="Your name" name="cm-name" type="text" />
      </div>
      <div class="mb2">
        <input class="caps-small-f w-100 tc" id="fieldEmail" placeholder="Your email address" name="cm-bblui-bblui" type="email" required />
      </div>
      <button class="btn btn-{{color}} btn-small w-100" type="submit">{{ newsletterSignup.callToAction }}</button>
    </form>
  </div>
</div>
