{% extends (craft.request.isAjax and not craft.request.isLivePreview) ? "_ajax-layout" : "_minipageLayout" %}
{% set title = "Startups" %}
{% set bgImage = entry.headerImg %}
{% set colour = 'blue' %}
{% set bodyClass = 'has-intro-text' %}

{% block content %}
  <h1 class="f2 mt0">{{ entry.title }}</h1>
  {{ entry.body }}

  <div class="caps-small-f mb3">Selected Ventures</div>

  <div class="w-100">
    <div>
      <a class="f3 relative rm-text-2" href="http://takumi.com/" target="_blank">
        Takumi
      </a>
    </div>
    <div>
      <a href="https://sendworks.com/" target="_blank" class="f3 relative rm-text-2">
        Sendworks
      </a>
    </div>
    <div>
      <a href="https://proskins.co/" target="_blank" class="f3 relative rm-text-2">
        Proskin
      </a>
    </div>
    <div>
      <a href="http://Prokost.dk" target="_blank" class="f3 relative rm-text-2">
        Prokost.dk
      </a>
    </div>
    </div>
  </div>
{% endblock %}
