{% extends (craft.request.isAjax and not craft.request.isLivePreview) ? "_ajax-layout" : "_minipageLayout" %}
{% set title = "Startups" %}
{% set bgImage = entry.headerImg %}
{% set colour = 'blue' %}
{% set bodyClass = 'has-intro-text' %}

{% block content %}
  <div class="tc w-100 mb3">
    <img src="dist/images/rainmaking_ventures_logo.png"  class="w-80"/>
  </div>
  {{ entry.body }}

  <p>Learn more about the startups we've created over the years...</p>
  <a class="btn btn-continue w-100 btn-nopad btn-{{ colour }} w-100" href="/our-story"></a>

  <!-- <div class="caps-small-f mb3">Selected Ventures</div>

  <div class="w-100">
    <div>
      <a class="f3 relative rm-text-2" href="http://takumi.com/" target="_blank">
        Takumi
      </a>
    </div>
    <div>
      <a href="https://sendworks.com/" target="_blank" class="f3 relative rm-text-2">
        Sendworks
      </a>
    </div>
    <div>
      <a href="https://proskins.co/" target="_blank" class="f3 relative rm-text-2">
        Proskin
      </a>
    </div>
    <div>
      <a href="http://frokost.dk" target="_blank" class="f3 relative rm-text-2">
        Frokost.dk
      </a>
    </div>
    </div>
  </div> -->
{% endblock %}
