{% extends "_layout" %}
{% set title = "Partnerships" %}

{% block content %}
  <div class="pageContainer">

    {% set img = entry.partnershipHeaderImage.first() %}
    <div class="w-100 h8 cover relative overflow-hidden" style="background-image: url( '{{img.getUrl('slashHeader') }}' );">
      <div class="container relative h-100 z-3 flex">
        <h1 class="fxl self-end w-70-ns">{{ entry.title }}</h1>
      </div>
      <div class="absolute top-0 w-100 h-100 left-0 bg-trans-to-white z-2"></div>
      <div class="absolute top-0 w-100 h-100 left-0 bg-2x2 z-0 z-1"></div>
    </div>

    <div class="container overflow-hidden relative flex-ns">
      <div class="w-100 w-50-ns fl pr4 lead-xl border-right-grey-ns self-center">
        {{entry.pageIntroduction}}
      </div>
      <div class="w-100 w-50-ns tc fl v-mid mt4 mt0-ns border-top-grey-s h-100-ns self-center">
        {% set logo = entry.partnershipLogo.first() %}
        <span class="v-mid dib h-100"></span>
        <img class="v-mid pv5 pv0-ns" width="w-50" src="{{ logo.getURL() }}" />
      </div>
    </div>


    <div class="mt5-ns">
      <div class="container">

        <div class="w-100 w-60-ns m-auto pv5 border-top-grey border-bottom-grey overflow-hidden">
          <div class="w-100 tc">
            <div class="quoteBlock-photo mb4 roundPhoto-100 roundPhoto-200-ns dib">
              {% set quotePhoto = entry.partnershipQuotePhoto.first() %}
              <img src="{{ quotePhoto.getURL('roundPortrait') }}" />
            </div>
          </div>
          <div class="speechmarks">
            <div class="w-100 mt0 fl db">
                <div class="lead-xl">
                  {{ entry.partnershipQuote }}
                </div>
                <div class="lh-solid f4 mt3">{{ entry.partnershipQuoteName }}</div>
                <div class="caps-small-f">{{ entry.partnershipQuoteJobRole }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include '_includes/_content.html' with { 'entry' : entry } %}

    <div class="w-100 pv5 fl">
      <div class="container tc">
        <h2 class="f2">{{ entry.partnershipOutroTitle }}</h2>
        <a href="" class="dib contactModal-btn btn mt3 relative z-3">
          {{ entry.partnershipOutroCallToActionButton}}
        </a>
      </div>
    </div>

    {% include '_includes/_contactModal.html' %}
    {% include '_includes/_footer.html' %}
  </div>
{% endblock %}
