{% extends "_layout" %}
{% set title = "Partnerships" %}

{% block content %}
  <div class="pageContainer">

    <div class="ph3 slashHeader">
      <div class="slashHeader__bg">
        {% set img = entry.partnershipHeaderImage.first() %}
        <img src="{{ img.getUrl('slashHeader') }}" width="{{ img.getWidth('slashHeader') }}" height="{{ img.getHeight('slashHeader') }}" />
      </div>
    </div>

    <div class="ph3 ph4-ns mb4 quoteIntro overflow-hidden">
      <div class="w-100 w-60-ns fl">
        <h1 class="f1">
          {{ entry.title }}
        </h1>
        <div class="speechmarks">
          <p class="lead mt0 fl">
            {{ entry.partnershipQuote }}
          </p>
          <div class="h3 relative">
              <div class="w-100 w-50-ns fl border-right-grey h-100 v-mid">
                <span class="v-mid dib h-100"></span>
                <div class="v-mid dib">
                  <div class="lh-solid">{{ entry.partnershipQuoteName }}</div>
                  <div class="caps-small-f">{{ entry.partnershipQuoteJobRole }}</div>
                </div>
              </div>
              <div class="w-100 w-50-ns fl tc h-100 v-mid">
                {% set logo = entry.partnershipLogo.first() %}
                <span class="v-mid dib h-100"></span>
                <img class="v-mid" width="220" src="{{ logo.getURL() }}" />
              </div>
          </div>
        </div>
      </div>
      <div class="w-100 w-40-ns fr relative tc dn db-ns">
        <div class="ma5 dib relative">
          <div class="quoteBlock-photo">
            {% set quotePhoto = entry.partnershipQuotePhoto.first() %}
            <img src="{{ quotePhoto.getURL('roundPortrait') }}" />
          </div>
        </div>
      </div>
    </div>

    {% for block in entry.pageContent %}
      {% if block.type == "soundbyteBlock" %}
        {% set img = block.image.first() %}
        <div class="w-100 relative pv6 ph4 pv6-ns">
          <span class="f1 fw3 relative z-2">
            {{ block.text }}
          </span>
          <div class="absolute w-100 h-100 bg-3x3 top-0 left-0 z-1"></div>
          <div class="absolute w-100 h-100 bg-3x3 top-0 left-0 z-0 o-50" style="background-image: url('{{ img.getUrl() }}');"></div>
        </div>

      {% elseif block.type == "textBlock" %}
        {% if block.backgroundColour == 'white' %}
          {% set colour = 'textblock-white' %}
        {% elseif block.backgroundColour == 'grey' %}
          {% set colour = 'textblock-grey' %}
        {% else %}
         {% set colour = 'textblock-black' %}
        {% endif %}
        {% set text = block.text|nl2br  %}
        <div class="w-100 pv6 ph4 pv6-ns textBlock {{ colour }}">
          <div class="w-90 w-60-ns m-auto">
            <h2 class="f2">{{ block.header }}</h2>
            <div>
              {{ text|raw }}
            </div>
          </div>
        </div>

    {% elseif block.type == "quoteBlock" %}

          <div class="w-100 pv4 ph4 w-80-ns m-auto overflow-hidden">
            <div class="w-100 w-20-ns fl tc mb3 tr-ns">
              {% set quotePhoto = block.image.first() %}
              <div class="roundPhoto roundPhoto-l dib">
                <img src="{{ quotePhoto.getURL('roundPortrait') }}" />
              </div>
            </div>
            <div class="w-80-ns pl5-ns fr">
              <div class="speechmarks">
                <div class="lead mb3">
                  {{ block.text }}
                </div>
                <div class="lh-solid">{{ block.quoteName }}</div>
                <div class="caps-small-f">{{ block.role }}</div>
              </div>
            </div>
          </div>

  {% elseif block.type == "imageBlock" %}

        <div class="gallery w-100">
          {% for img in block.images %}
            <div style="background-image: url('{{ img.getUrl() }}')"></div>
          {% endfor %}
        </div>

      {% elseif block.type == "videoBlock" %}

        <div class="w-100 pv4 pv6-ns tc relative">
          <div class="w-80 w-60-ns m-auto">
            <div class="videoBlock__wrapper">
              <iframe class="relative z-3" width="560" height="315" src="https://www.youtube.com/embed/{{ block.youtubeVideoId }}" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
          <div class="absolute top-0 left-0 w-100 h-100 bg-3x3 z-1"></div>
          <div class="videoBlock__gradient absolute top-0 left-0 w-100 h-100 z-0"></div>
        </div>

      {% elseif block.type == "textBlockWithImages" %}
        {% set img = block.image.first() %}
        {% if block.align == 'left' %}
          {% set imgAlign = 'order-1' %}
          {% set textAlign = 'order-0' %}
        {% else %}
          {% set imgAlign = 'order-0' %}
          {% set textAlign = 'order-1' %}
        {% endif %}
        {% set text = block.text|nl2br  %}

        <div class="w-100 relative">
          <div class="flex-ns">
            <div class="db w-100 w-50-ns {{ imgAlign }} cover" style="background-image: url({{ img.getUrl() }});">
              <img src="{{ img.getUrl() }}" class="dn-ns" />
            </div>
            <div class="w-100 w-50-ns pa4 pb5 pa5-ns order-0 {{ textAlign }}">
              <h2 class="f2">
                {{ block.header }}
              </h2>
              <div>
                {{ text|raw }}
              </div>
            </div>
          </div>
          <!-- <div class="featurePost__mesh bg-3x3"></div> -->
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}
