{% extends "_layout" %}
{% set title = "Partnerships" %}

{% block content %}
  <div class="pageContainer">

    <div class="ph3 slashHeader">
      <div class="slashHeader__bg">
        {% set img = entry.partnershipHeaderImage.first() %}
        <img src="{{ img.getUrl('slashHeader') }}" width="{{ img.getWidth('slashHeader') }}" height="{{ img.getHeight('slashHeader') }}" />
      </div>
    </div>

    <div class="ph3 ph4-ns mb4 quoteIntro overflow-hidden">
      <div class="w-100 w-60-ns fl">
        <h1 class="f1">
          {{ entry.title }}
        </h1>
        <div class="speechmarks">
          <p class="lead mt0 fl">
            {{ entry.partnershipQuote }}
          </p>
          <div class="h3 relative">
              <div class="w-100 w-50-ns fl border-right-grey h-100 v-mid">
                <span class="v-mid dib h-100"></span>
                <div class="v-mid dib">
                  <div class="lh-solid">{{ entry.partnershipQuoteName }}</div>
                  <div class="caps-small-f">{{ entry.partnershipQuoteJobRole }}</div>
                </div>
              </div>
              <div class="w-100 w-50-ns fl tc h-100 v-mid">
                {% set logo = entry.partnershipLogo.first() %}
                <span class="v-mid dib h-100"></span>
                <img class="v-mid" width="220" src="{{ logo.getURL() }}" />
              </div>
          </div>
        </div>
      </div>
      <div class="w-100 w-40-ns fr relative tc dn db-ns">
        <div class="ma5 dib relative">
          <div class="quoteBlock-photo">
            {% set quotePhoto = entry.partnershipQuotePhoto.first() %}
            <img src="{{ quotePhoto.getURL('roundPortrait') }}" />
          </div>
        </div>
      </div>
    </div>

    {% include '_includes/_content.html' with { 'entry' : entry } %}


  </div>
{% endblock %}
