{% extends (craft.request.isAjax and not craft.request.isLivePreview) ? "_ajax-layout" : "_layout" %}
{% set title = "Partnerships" %}
{% set partnerships = craft.entries.section('partnerships') %}
{% set copy = craft.entries.section('partnershipIndex').first() %}
{% block content %}
  <div class="js-ajax-wrapper">

    <div class="pageContainer bg-gradient-grey">

      <div class="pa4-ns pt6 pa4 bg-grey overflow-hidden">
        <div class="w-60-ns mb5 lead">
            {{ copy.pageIntroduction }}
        </div>
        {% for entry in craft.entries.section('partnerships').find() %}
          {% set colour = cycle(['teal', 'red', 'blue', 'green', 'orange'], loop.index0) %}
          {% set align = cycle(['left', 'right'], loop.index0) %}
          {% if  loop.index % 3 == 0 %}
            {% include '_includes/_partnershipCardLarge.html' with { 'entry' : entry, 'color' : colour, 'align' : align } %}
          {% else %}
            {% include '_includes/_partnershipCard.html' with { 'entry' : entry, 'color' : colour } %}
          {% endif %}

        {% endfor %}
      </div>

    </div>

  </div>
{% include '_includes/_footer.html' %}
{% endblock %}
