{% extends (craft.request.isAjax and not craft.request.isLivePreview) ? "_ajax-layout" : "_layout" %}
{% set title = "Partnerships" %}
{% set partnerships = craft.entries.section('partnerships') %}
{% set copy = craft.entries.section('partnershipIndex').first() %}
{% set homepage = craft.entries.section('homepage').first() %}
{% set bodyClass = 'has-intro-text' %}
{% set bodyStyle = "background-image: url({{ bgImage.getUrl() }})" %}

{% block content %}
  <div class="js-ajax-wrapper h-100" style="background-image: url({{ bgImage.getUrl() }})">
    {% set bg = homepage.partnershipHoverImage.first() %}
    <div>
      <div class="cover fixed w-100 h-100 db top-0 left-0" style="background-image: url('{{ bg.getUrl() }}');"></div>
      <div class="fixed top-0 left-0 w-100 h-100 z-3 bg-2x2 pointer-none"></div>
      <div class="absolute top-50 left-0 w-100 h-50 z-4 pointer-none bg-trans-to-grey"></div>
    </div>

    <div class="w-100 h-100">
      <div class="container h-100 relative">
        {% include '_includes/_pagePillars.html' %}
        <div id="introText" class="w-100 w-50-ns relative absolute-ns right-0 top-0 fl fr-ns mb4 z-5 pt4 pt0-ns">
          <div class="w-100 w-70-ns m-auto pa4 bg-white intro-hover-text bt bw2 border-green">
            <div class="tc w-100 mb3">
              <a href="http://startupbootcamp.org" target="_blank">
                <img src="dist/images/rainmaking_innovation_logo_black.png"  class="w-80"/>
              </a>
            </div>
            {{ copy.pageIntroduction }}
            <div class="mt3 tc">
              <a id="arrowDown" class="dn db-ns pointer"><img src="dist/images/arrow-down.svg" /></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-grey relative z-4 pt4" id="belowFold">
      <div class="container">

        <div class="w-70-ns pb5">
          <h1 class="f1 ma0">{{ copy.secondaryHeader }}</h1>
          <div class="lead-xl">
            {{ copy.secondaryBody }}
          </div>
        </div>

      </div>

      <div class="container bg-grey overflow-hidden grid-pad-2x1 pt4">
        {% for entry in craft.entries.section('partnerships').find() %}
          {% set colour = cycle(['teal', 'red', 'blue', 'green', 'orange'], loop.index0) %}
          {% set align = cycle(['left', 'right'], loop.index0) %}
          {% if  loop.index % 3 == 0 %}
            {% include '_includes/_partnershipCardLarge.html' with { 'entry' : entry, 'color' : colour, 'align' : align } %}
          {% else %}
            {% include '_includes/_partnershipCard.html' with { 'entry' : entry, 'color' : colour } %}
          {% endif %}

        {% endfor %}
      </div>
    </div>

    <div class="outro tc pt6 pb6 fl w-100 relative bg-grey">
      <div class="w-100 w-60-ns m-auto z-4 relative fxl tc">
        Ready to stop talking and start&nbsp;doing?
      </div>
      <a href="" class="contactModal-btn btn btn-green mt3 relative z-3 trigger">
        {{ outro.callToAction }}
      </a>
    </div>
    {% include '_includes/_contactModal.html' %}
    {% include '_includes/_footer.html' %}
  </div>
{% endblock %}
