{% extends "_layout" %}
{% set title = "Rainmaking" %}
{% set bodyClass = 'blogpost' %}
{% set backTo = 'events' %}

{% block content %}
<div class="js-ajax-wrapper">

  {% set img = entry.headerImg.first() %}
  <div class="w-100 h9 cover relative overflow-hidden" style="background-image: url( '{{img.getUrl('slashHeader') }}' );">
    <div class="container relative h-100 z-3 flex">
      <h1 class="fxl self-end w-100-ns">{{ entry.title }}</h1>
    </div>
    <div class="absolute top-0 w-100 h-100 left-0 bg-trans-to-white z-2"></div>
    <div class="absolute top-0 w-100 h-100 left-0 bg-2x2 z-0 z-1"></div>
  </div>

  <div class="w-100 fl z-3 relative">
    <div class="container">

      <div class="w-100 w-40-ns fr-ns fl">
        <div class="mb4 mh4-ns" id="stickyAside">
          <div class="w-100 ph0 pv4 ph4-ns pv0-ns border-left-grey-ns border-top-grey-s border-bottom-grey-s z-1 relative">
            <div>
              <div class="mb4">
                <div class="caps-small-f">When</div>
                <div class="mb3 f4 mb0">{{ entry.timeAndDate|date("F d Y H:i") }}</div>
              </div>
              <div class="mb4">
                <div class="caps-small-f">Where</div>
                <div class="f4 mb0">{{ entry.eventLocation }}</div>
                <a class="caps-small-f rm-text-2" href="{{ entry.eventGoogleMapsUrl }}">Google Maps</a>
              </div>
            </div>
            <a href="{{ entry.eventbriteUrl }}" class="w-100 btn btn-nopad">Get tickets</a>
          </div>
        </div>
      </div>

      <div class="w-100 w-60-ns fl-ns content">
        {% set text = entry.body  %}
        {{ text|raw }}
      </div>

    </div>
  </div>
</div>

{% include '_includes/_footer.html' %}
{% endblock %}
