{% extends (craft.request.isAjax and not craft.request.isLivePreview) ? "_ajax-layout" : "_layout" %}
{% set title = "Events" %}

{% block content %}
<div class="js-ajax-wrapper">

  <div class="pageContainer bg-gradient-grey">

    <div class="pa4-ns pt6 pa4">
      <!-- <h1 class="f1">Practising what we preach</h1> -->

      <p class="f2 w-60-ns mb5">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>

      {% for entry in craft.entries.section('events') if entry.timeAndDate > now %}
        {% set img = entry.headerImg.first() %}
        <div class="featurePost mb4 w-100">
          <a href="{{ entry.url }}" class="featurePost__img" style="background-image: url({{ img.getUrl() }});"></a>
          <div class="featurePost__content pa3 relative" style="background-image: url({{ img.getUrl() }});">
            <div class="pa3 h-100 relative z-2">
              <a class="featurePost__title" href="{{ entry.url }}">{{ entry.title }}</a>
              <div class="caps-small-f">{{ entry.timeAndDate|date("F d Y H:i") }}</div>
              <div class="featurePost__arrow">
                <a class="db fl bg-white pa4 tc" href="{{ entry.url }}">
                  <img class="db mb0" src="dist/images/arrow-right-black.png" data-rjs="3"/>
                </a>
              </div>
            </div>
            <div class="featurePost__mesh bg-3x3"></div>
          </div>
        </div>
      {% endfor %}

      <div class="tc caps-small-f">Previous events</div>
      <div class="flex posts">
        {% for entry in craft.entries.section('events') if entry.timeAndDate > now %}
          {% set img = entry.headerImg.first() %}
          <div class="post w-100 w-33-ns pa3-ns mb3 mb0-ns">
            <a href="{{entry.url}}" class="post__img" style="background-image: url({{ img.getUrl() }});"></a>
            <div class="post__content pa3">
              <a class="post__title" href="{{ entry.url }}">{{ entry.title }}</a>
              <div class="caps-small-f">{{ entry.timeAndDate|date("F d Y H:i") }}</div>
              <div class="post__gradient" style="background-image: url({{ img.getUrl() }});"></div>
              <div class="post__mesh bg-3x3"></div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% include '_includes/_footer.html' %}
{% endblock %}
