{% extends (craft.request.isAjax and not craft.request.isLivePreview) ? "_ajax-layout" : "_layout" %}
{% set title = "Events" %}
{% set copy = craft.entries.section('eventsPageCopy').first() %}
{% set events = craft.entries.section('events').order('timeAndDate') %}
{% block content %}
<div class="js-ajax-wrapper">

  <div class="pageContainer bg-grey pb5">

    <div class="container">
      <div class="w-60-ns mb5 lead">
        <h1 class="fxl">{{ copy.title }}</h1>
      </div>

      {% for entry in events if entry.timeAndDate > now %}
        {% set img = entry.headerImg.first() %}
        {% set colour = cycle(['teal', 'red', 'blue', 'green', 'orange'], loop.index0) %}

        {% include '_includes/_eventPost.html' with { 'entry' : entry, 'color' : colour } %}

      {% endfor %}

      <div class="tc caps-small-f">Previous events</div>
      <div class="flex posts">
        {% for entry in craft.entries.section('events') if entry.timeAndDate < now %}
          {% set colour = cycle(['teal', 'red', 'blue', 'green', 'orange'], loop.index0) %}
          {% include '_includes/_eventPostSmall.html' with { 'entry' : entry, 'color' : colour } %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% include '_includes/_footer.html' %}
{% endblock %}
