{% extends (craft.request.isAjax and not craft.request.isLivePreview) ? "_ajax-layout" : "_layout" %}
{% set title = "Our Story" %}
{% set partnerships = craft.entries.section('partnerships') %}
{% set startups = craft.entries.section('rainmakingstartups') %}

{% block content %}
  <div class="js-ajax-wrapper pageContainer">

      {% set img = entry.headerImage.first() %}
      <div class="w-100 h9 cover relative overflow-hidden" style="background-image: url( '{{img.getUrl('slashHeader') }}' );">
        <div class="container relative h-100 z-3 flex">
          <h1 class="fxl self-end m-auto w-60-ns pb3">{{ entry.pageTitle }}</h1>
        </div>
        <div class="absolute top-0 w-100 h-100 left-0 bg-trans-to-white z-2"></div>
        <div class="absolute top-0 w-100 h-100 left-0 bg-2x2 z-0 z-1"></div>
      </div>

      <div class="container">
        <div class="w-60-ns m-auto pb5">
          <div class="lead-xl">
            {{ entry.pageIntroduction }}
          </div>
        </div>
      </div>

      {% include '_includes/_content.html' with { 'entry' : entry } %}

      <div class="w-100 pt5 textBlock fl">
        <div class="container">
          <div class="w-100 w-60-ns m-auto">
            <h2 class="f2">Our startups</h2>
            <div>
              Creating companies and bringing them to market is our first love. Together, we’ve built over 25 of our own startups, achieved 5 notable exits and participated in more than 350 investments. Here are just a few active companies that we have built.
            </div>
          </div>
          <div class="w-100">
            {% for startup in startups %}
              <div class="w-50 w-33-ns fl mb2 v-mid mb4 pa4">
                <div class="h4 flex">
                  {% set image = startup.logoImage.first() %}
                  <a href="{{ startup.urlLink }}">
                    <img class="v-mid self-center" src="{{ image.getUrl()}}">
                  </a>
                </div>
                <div class="tc">
                  {{ startup.body }}
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>

    </div>


{% include '_includes/_footer.html' %}
{% endblock %}
