{% extends (craft.request.isAjax and not craft.request.isLivePreview) ? "_ajax-layout" : "_minipageLayout" %}
{% set title = "Accelerator" %}

{% block content %}
  <div class="js-ajax-wrapper">
    {% set i = entry.headerImg.first() %}
    <div class="minipage-header w-100">
      <img src="{{ i.getUrl('miniPageHeader') }}" class="w-100">
    </div>
    <div class="pa4">
      <h1 class="f1 mt0">
        {{ entry.pageTitle }}
      </h1>
      {{ entry.body }}
    </div>
  </div>
{% endblock %}
