{% extends "_layout" %}
{% set title = "Rainmaking" %}
{% set criteria = {section: 'blog', order: 'postDate'} %}
{% set prev = entry.getPrev(criteria) %}
{% set colors = ['teal', 'red', 'blue', 'green', 'orange'] %}
{% set color = shuffle(colors) | first %}
{% set bodyClass = 'blogpost' %}

{% block content %}
<div class="js-ajax-wrapper">

  {% set img = entry.headerImage.first() %}
  <div class="w-100 h8 fl cover relative z-1" style="background-image: url( '{{img.getUrl('slashHeader') }}' );">
    <div class="container">
      <h1 class="fxl mb4 z-1 absolute bottom-0 blogpost-margin-bottom pb4 w-80-ns">
        {{ entry.title }}
      </h1>
    </div>
    <div class="absolute top-0 w-100 h-100 left-0 bg-2x2 z-0"></div>
  </div>

  <div class="w-100 fl z-3 relative bg-grey">
    <div class="container container-mobile-padding">
      <div class="w-100 w-60-ns fl-ns slashHeader-content-m">
        <div class="h1 w-100 bg-{{color}} db"></div>
        <div class="content bg-white pa4">
          {% set text = entry.post  %}
          {{ text|raw }}
        </div>
      </div>

      <div class="w-100 w-40-ns fr-ns fl">

        <div class="tc mb5">
          <div class="w-80 m-auto">
            <div class="authorPhoto roundPhoto roundPhoto-150 dib ba b--white bw2">
              {% set avatar = entry.author.image.first() %}
              <img src="{{ avatar.getUrl() }}" />
            </div>
            <div class="f4 rm-text-2 mb0">
              By {{ entry.author.firstName }} {{ entry.author.lastName }}
            </div>
            <div class="rm-text-2">
              {{ entry.author.body }}
            </div>
          </div>
        </div>

        {% include '_includes/_stickyNewsletter.html' %}

      </div>
    </div>
    {% set bg = prev.headerImage.first() %}
    <div class="w-100 pv6 cover relative tc fl mt5" style="background-image: url({{ bg.getUrl() }});">
      <div class="w-60 z-2 relative m-auto">
        <div class="caps-small-f">
          Next article
        </div>
        <div class="f1">
          {{ prev.title }}
        </div>
        <div>
          <a class="btn mt4 btn-continue btn-{{ colour }} pointer-auto" href="{{ prev.url }}"></a>
        </div>
      </div>
      <div class="absolute top-0 left-0 w-100 h-100 z-0 bg-3x3"></div>
      <div class="absolute top-0 left-0 w-100 h-100 z-1 bg-white-to-trans"></div>
    </div>
  </div>
</div>
{% include '_includes/_footer.html' %}
{% endblock %}
