{% extends (craft.request.isAjax and not craft.request.isLivePreview) ? "_ajax-layout" : "_layout" %}
{% set title = entry.title %}
{% set img = entry.headerImage.first() %}
{% set metaDataImage = img.getUrl() %}
{% set criteria = {section: 'blog', order: 'postDate'} %}
{% set prev = entry.getPrev(criteria) %}
{% set colors = ['teal', 'red', 'blue', 'green', 'orange'] %}
{% set color = shuffle(colors) | first %}
{% set bodyClass = 'blogpost' %}
{% set backTo = 'blog' %}

{% block content %}
<div class="js-ajax-wrapper">

  {% set img = entry.headerImage.first() %}
  <div class="w-100 h9 cover relative overflow-hidden" style="background-image: url( '{{img.getUrl('slashHeader') }}' );">
    <div class="container relative h-100 z-3 flex">
      <h1 class="fxl self-end w-70-ns">{{ entry.title }}</h1>
    </div>
    <div class="absolute top-0 w-100 h-100 left-0 bg-trans-to-white z-2"></div>
    <div class="absolute top-0 w-100 h-100 left-0 bg-2x2 z-0 z-1"></div>
  </div>

  <div class="w-100 fl z-3 relative">
    <div class="container">
      <div class="w-100 w-60-ns fl-ns content" id="content">
        {% set text = entry.post  %}
        {{ text|raw }}
      </div>

      <div class="w-100 w-40-ns fr-ns fl">

        <div class="tc mb5">
          <div class="w-80 m-auto">
            <div class="authorPhoto roundPhoto roundPhoto-150 dib ba b--white bw2">
              {% set avatar = entry.author.image.first() %}
              <img src="{{ avatar.getUrl() }}" />
            </div>
            <div class="f4 rm-text-2 mb0">
              By {{ entry.author.firstName }} {{ entry.author.lastName }}
            </div>
            <div class="rm-text-2">
              {{ entry.author.body }}
            </div>
          </div>
        </div>

        {% include '_includes/_stickyNewsletter.html' with {'url' : entry.url } %}
      </div>
    </div>
      {% set bg = prev.headerImage.first() %}
      <div id="outro" class="w-100 pv6 cover relative tc fl mt5" style="background-image: url({{ bg.getUrl() }});">
        <div class="w-80 z-2 relative m-auto">
          <div class="caps-small-f">
            Next article
          </div>
          <div class="f1">
            {{ prev.title }}
          </div>
          <div>
            <a class="btn mt4 btn-continue btn-{{ color }} pointer-auto" href="{{ prev.url }}"></a>
          </div>
        </div>
        <div class="absolute top-0 left-0 w-100 h-100 z-0 bg-3x3"></div>
        <div class="absolute top-0 left-0 w-100 h-100 z-1 bg-white-to-trans"></div>
      </div>
    </div>
    {% include '_includes/_footer.html' %}
</div>

{% endblock %}
