{% extends (craft.request.isAjax and not craft.request.isLivePreview) ? "_ajax-layout" : "_layout" %}
{% set title = "Blog" %}
{% set posts = craft.entries.section('blog') %}
{% set copy = craft.entries.section('blogIndexCopy').first() %}

{% block content %}
<div class="js-ajax-wrapper">

  <div class="pageContainer bg-grey">
    <div class="container">
      <div class="w-60-ns mb5 lead">
        {{ copy.pageIntroduction }}
      </div>


      <div class="flex posts bg-grey pb5">
        {% for entry in craft.entries.section('blog').find() %}
          {% if loop.first %}
            {% set colour = cycle(['teal', 'red', 'blue', 'green', 'orange'], loop.index0) %}
            {% include '_includes/_blogPostFeaturedCard.html' with { 'entry' : entry, 'color' : colour } %}
          {% else %}
            {% set colour = cycle(['teal', 'red', 'blue', 'green', 'orange'], loop.index0) %}
            {% include '_includes/_blogPostCard.html' with { 'entry' : entry, 'color' : colour } %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% include '_includes/_footer.html' %}
{% endblock %}
