{#
 # 404 template
 # ------------
 #
 # This template is loaded whenever Craft cannot figure out how to
 # respond to an incoming request. No setup is involved to get your
 # 404 page working; you just need to call it 404.html and put it
 # at the root of your craft/templates/ folder.
 #
 # You can also create 400.html, 403.html, 500.html, and 503.html
 # templates if you’d like. If Craft can’t find an error template
 # to match the error code, it will just use the one in
 # craft/app/templates/ instead.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends (craft.request.isAjax and not craft.request.isLivePreview) ? "_ajax-layout" : "_layout" %}
{% set title = "404" %}

{% block content %}
<div class="js-ajax-wrapper overflow-hidden h-100">
  <div class="container h-100 relative z-3">
    <div class="w-100 h-100 flex items-center">
      <div>
      	<h1 class="f1">Whoops — there's nothing here!</h1>
      	<p class="lead-xl">
          You can head <a href="/">home</a>, or if something you're looking for is missing,
          <a href="/contact">get in touch</a>.
        </p>
      </div>
    </div>
  </div>
  <div class="absolute top-0 left-0 w-100 h-100 z-2 bg-2x2 pointer-none"></div>
  <div class="absolute top-0 left-0 w-100 h-100 z-1 o-30">
    <div class="flex items-center justify-center h-100">
      <div class="f1" style="font-size: 500px;">404</div>
    </div>
  </div>
</div>
{% endblock %}
