<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
  {% include '_includes/_head.html' %}
</head>

  {% if bodyClass is defined %}
    <body class="{{ bodyClass }}">
  {% else %}
    <body>
  {% endif %}

  {% if headerBelowFold is defined %}
    {% include '_includes/_header.html' with { 'headerBelowFold' : headerBelowFold }  %}
  {% else %}
    {% include '_includes/_header.html' %}
  {% endif %}

  <main class="js-main" role="main">
    {% block content %}
			<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
			<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
		{% endblock %}
  </main>

  <section class="js-mini">
  </section>

  {% include '_includes/_menu.html' %}
</body>
</html>
