{% set image = bgImage.first() %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
  {% include '_includes/_head.html' %}
</head>

  {% if bodyClass is defined %}
    <body class="cover bg-fixed {{ bodyClass }}" style="background-image: url('{{ image.getUrl() }}')">
  {% else %}
    <body class="cover bg-fixed" style="background-image: url('{{ image.getUrl() }}')">
  {% endif %}

  {% include '_includes/_header.html' %}

  <div class="container h-100 relative">
    {% include '_includes/_pagePillars.html' %}

    <div class="w-100 w-50-ns relative absolute-ns right-0 top-0 fr-ns mb4 z-4 pt6 pt0-ns">
      <div class="w-100 w-70-ns m-auto pa4 bg-white intro-hover-text bt bw2 border-{{colour}}">
        <section>
          {% block content %}
            <p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
            <p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
          {% endblock %}

          {% if title == "Accelerator" %}
            <div class="tc w-100">
              <a href="http://startupbootcamp.org" target="_blank">
                <img src="dist/images/sbc-logo.png"  class="w-80"/>
              </a>
            </div>
          {% endif %}
        </section>
      </div>
    </div>
  </div>

  <div class="fixed top-0 left-0 w-100 h-100 z-3 bg-2x2 pointer-none"></div>
  {% include '_includes/_menu.html' %}
</body>
</html>
