<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
  {% include '_includes/_head.html' %}
</head>

<body class="miniPageOpen">
	<div id="container">

    {% include '_includes/_header.html' %}

    <section class="js-mini">
      {% block content %}
  			<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
  			<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
  		{% endblock %}
    </section>

  </div>

  {% include '_includes/_menu.html' %}
</body>
</html>
