{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}
{% set bodyClass = 'home' %}
{% set headerBelowFold = 'header-belowfold' %}
{% extends (craft.request.isAjax and not craft.request.isLivePreview) ? "_ajax-layout" : "_layout" %}
{% block content %}

<div class="pillarbox pillarbox-accelerators">
  <div class="pillarbox-mesh"></div>
  {% set bg1 = entry.acceleratorHoverImage.first() %}
  <div class="pillarbox-bg" style="background-image: url('{{ bg1.getUrl() }}'); opacity: .6;"></div>
  <div class="pbc__text w-40-ns">
    {{ entry.acceleratorIntroduction }}
  </div>
</div>
<div class="pillarbox pillarbox-companies">
  <div class="pillarbox-mesh"></div>
  {% set bg2 = entry.companiesHoverImage.first() %}
  <div class="pillarbox-bg" style="background-image: url('{{ bg2.getUrl() }}')"></div>
  <div class="pbc__text w-40-ns">
    {{ entry.companiesIntroduction }}
  </div>
</div>
<div class="pillarbox pillarbox-spaces">
  <div class="pillarbox-mesh"></div>
  {% set bg3 = entry.spacesHoverImage.first() %}
  <div class="pillarbox-bg" style="background-image: url('{{ bg3.getUrl() }}')"></div>
  <div class="pbc__text w-40-ns">
    {{ entry.spacesIntroduction }}
  </div>
</div>
<div class="pillarbox pillarbox-partnerships">
  <div class="pillarbox-mesh"></div>
  {% set bg4 = entry.partnershipHoverImage.first() %}
  <div class="pillarbox-bg" style="background-image: url('{{ bg4.getUrl() }}')"></div>
  <div class="pbc__text w-40-ns">
    {{ entry.partnershipsIntroduction }}
  </div>
</div>


<div class="h-100 flex items-center pa6 home-intro-container">
  <div class="home-intro">
    <div class="logoFace mb3 mb5-ns w-100">
      <span>Rainmaking</span>
      <span class="logoFace-builds">Builds</span>
    </div>
    <div class="w-40 fl">
      <div>
        <div><a class="pillar dib menuType fadeUnderline mb3 mb4-ns" data-type="accelerators" role="minipage" href="/accelerator">Accelerators</a></div>
        <div><a class="pillar dib menuType fadeUnderline mb3 mb4-ns" data-type="spaces" role="minipage" href="/spaces">Spaces</a></div>
        <div><a class="pillar dib menuType fadeUnderline mb3 mb4-ns" data-type="companies" role="minipage" href="/companies">Startups</a></div>
        <div><a id="partnershipsScroll" class="pillar dib menuType fadeUnderline mb3 mb4-ns" data-type="partnerships" href="">Partnerships</a></div>
      </div>
    </div>
    <div class="w-60 fl home-intro-text">
      <p id="home-intro-text-main" class="f2 mt0 mr2-ns">{{ entry.intro}}</div>
      <p id="home-intro-hover-text"></p>
    </div>
  </div>

  <div class="rain rain-mousemove"></div>
  <div class="rain-content"></div>
</div>

<div class="ph5-ns ph4 fl w-100 pt0 bg-gradient-grey">
  <div class="w-100 w-60-ns fr-ns mb5">
    <h2 class="f1">{{ entry.partnershipsHeadline }}</h2>
    <div class="lead rm-text-2 mr5-ns">
      {{ entry.secondaryIntroduction }}
    </div>
  </div>
</div>

<div class="pa4 bg-grey overflow-hidden">
  <div class="partnershipTestimonials w-100 fl">

    {% for entry in craft.entries.section('partnerships').find() %}
      {% if entry.featurePartnershipOnHomePage %}
        {% set img = entry.partnershipHeaderImage.first() %}
        <div class="pT mb4">
          <div class="featurePost relative z-0">
            <a href="{{ entry.url }}" class="featurePost__img" style="background-image: url({{ img.getUrl() }});"></a>
            <div class="featurePost__content pa3 relative" style="background-image: url({{ img.getUrl() }});">
              <div class="pa3 h-100 relative z-2">
                <div>
                  <a class="featurePost__title" href="{{ entry.url }}">{{ entry.title }}</a>
                </div>
                <!-- <a class="db fl bg-white pa3 mt3 tc" href="{{ entry.url }}">
                  <img class="db mb0" src="dist/images/arrow-right-black.png" data-rjs="3"/>
                </a> -->
              </div>
              <div class="featurePost__mesh bg-3x3"></div>
            </div>
          </div>
          <div class="pT__quote mt2 lead w-1 relative z-2 ma4 ml5 fl">
            <div class="absolute pT__quotePhoto roundPhoto roundPhoto-100 dib">
              {% set quotePhoto = entry.partnershipQuotePhoto.first() %}
              <img src="{{ quotePhoto.getURL('roundPortrait') }}" />
            </div>
            <div class="bg-white pa4 overflow-hidden">
              <div class="pl5">
                {{ entry.partnershipQuote }}
                <div class="relative">
                  <div class="fl relative">
                    <div class="border-right-grey fl pr4">
                      <div class="mt3 lh-solid">{{ entry.partnershipQuoteName }}</div>
                      <div class="caps-small-f">{{ entry.partnershipQuoteJobRole }}</div>
                    </div>
                    <div class="fl pl4 h-100 v-mid">
                      {% set logo = entry.partnershipLogo.first() %}
                      <span class="v-mid dib h-100"></span>
                      <img class="v-mid mt2" width="150" src="{{ logo.getURL() }}" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}


  </div>
</div>

<div class="pa5-ns pa4 fl w-100">
  <div class="overflow-hidden">
    <div class="w-100 overflow-hidden">

      {% for image in entry.partnershipLogos %}
      {% set thumb = {
          mode: 'fit',
          width: 160,
          height: 160,
          quality: 100,
          position: 'center'
      } %}
        <div class="w-50 w-25-ns tc fl h3 mb5 v-mid">
          <span class="v-mid dib h-100"></span>
          <img class="v-mid" src="{{ image.getUrl(thumb)}}" width="{{ image.getWidth(thumb)}}" height="{{ image.getHeight(thumb)}}">
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="pa5-ns pa4 bg-founder fl w-100">
  <div>
    <div class="w-50 fl mt4">
      <div class="fl mt2">
        <div class="speechmarks">
          {{ entry.outroQuote }}
          <div class="mt3 lh-solid">{{ entry.outroQuoteFounderName }}</div>
          <div class="caps-small-f">Rainmaking Founder</div>
        </div>
      </div>
    </div>
    <div class="w-50 tc fl">
      <div class="roundPhoto roundPhoto-300 dib">
        {% set outroImg = entry.outroQuotePhoto.first() %}
        <img src="{{ outroImg.getUrl('roundPortrait')}}" />
      </div>
    </div>
  </div>
</div>

<div class="outro tc pt6 pb6 fl w-100">
  <div class="w-100">
    <img src="/dist/images/outro.png" />
  </div>
  <a href="" class="contactModal-btn btn mt3">Get in touch</a>

</div>

{% include '_includes/_contactModal.html' %}
{% include '_includes/_footer.html' %}



{% endblock %}
