{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}
  <div class="header pa3 overflow-hidden">
    <a class="logo logo-menu fl" href="/">Rainmaking<a/>
    <a class="menuToggle fr db rm-grey-bg" href=""></a>
  </div>

  <div class="menu bg-3x3 fixed top-0 right-0 left-0 pa5 pt0 pr0 overflow-scroll">
    <div class="header pa3 overflow-hidden">
      <a class="menuToggle menuToggle-close fr db rm-grey-bg" href=""></a>
    </div>
    <div class="mt4">
      <div class="w-100 w-50-ns fl mb4">
        <div class="logoFace mb3 mb4-ns">
          <span>Rainmaking</span>
          <span class="logoFace-builds">Builds</span>
        </div>

        <div><a class="dib menuType fadeUnderline mb3 mb4-ns" href="/accelerator">Accelerator</a></div>
        <div><a class="dib menuType fadeUnderline mb3 mb4-ns" href="/spaces">Spaces</a></div>
        <div><a class="dib menuType fadeUnderline mb3 mb4-ns" href="/companies">Companies</a></div>
        <div><a class="dib menuType fadeUnderline mb3 mb4-ns" href="/partnerships">Partnerships</a></div>
      </div>

      <div class="w-100 w-50-ns fl">
        <div class="logoFace mb3 mb4-ns">Menu</div>
        <div><a class="dib menuType fadeUnderline mb3 mb4-ns"  href="/about">Our Story</a></div>
        <div><a class="dib menuType fadeUnderline mb3 mb4-ns"  href="/who-we-are">Who We Are</a></div>
        <div><a class="dib menuType fadeUnderline mb3 mb4-ns"  href="/blog">Blog</a></div>
        <div><a class="dib menuType fadeUnderline mb3 mb4-ns"  href="/events">Events</a></div>
        <div><a class="dib menuType fadeUnderline mb3 mb4-ns"  href="/contact">Contact</a></div>
      </div>
    </div>
  </div>
{% endblock %}
