@custom-media --breakpoint-not-small screen and (min-width: 48em);
@custom-media --breakpoint-medium screen and (min-width: 48em) and (max-width: 64em);
@custom-media --breakpoint-large screen and (min-width: 64em);

.textblock-white {
  background: #fff;
}

.textblock-grey {
  background: #E2E6EA;
  color: #282F37;
}

.textblock-black {
  background: #282F37;
  color: #B3BCC5;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery div {
  flex-grow: 1;
  min-width: 50%;
  height: 150px;
  background-size: cover;
}

@media (--breakpoint-large) {
  .gallery div {
    min-width: 33.3333%;
    height: 300px;
  }
}

.videoBlock__gradient {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5b93a2+0,adebed+100 */
background: rgb(91,147,162); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(91,147,162,1) 0%, rgba(173,235,237,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(91,147,162,1) 0%,rgba(173,235,237,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(91,147,162,1) 0%,rgba(173,235,237,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b93a2', endColorstr='#adebed',GradientType=0 ); /* IE6-9 */
}

.videoBlock__wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
}
.videoBlock__wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


@media (--breakpoint-large) {
  .quoteBlock-photo {
    margin-top: -90px;
  }
}

.quoteBlock-photo {
  display: block;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 999px;
  border: solid #fff 6px;
}

.quoteBlock-photo img {
  width: 100%;
}
