@custom-media --breakpoint-not-small screen and (min-width: 48em);
@custom-media --breakpoint-medium screen and (min-width: 48em) and (max-width: 64em);
@custom-media --breakpoint-large screen and (min-width: 64em);

.border-right-grey {
  border-right: solid 1px #9498A0;
}

.border-white {
  border: solid 1px #fff;
}

@media (--breakpoint-not-small) {
  .border-right-grey-ns {
    border-right: solid 1px #9498A0;
  }
}

.border-teal  { border-color: #69C7D3; }
.border-red      { border-color: #FF856D; }
.border-blue    { border-color: #86BFEF; }
.border-green    { border-color: #83B309;  }
.border-orange   { border-color: #F99B30; }

.border-teal-hover:hover   { border-color: #69C7D3; }
.border-red-hover:hover      { border-color: #FF856D; }
.border-blue-hover:hover     { border-color: #86BFEF; }
.border-green-hover:hover    { border-color: #83B309;  }
.border-orange-hover:hover   { border-color: #F99B30; }
