:root {
  --rm-text: #062D40;
  --rm-text-2: #68767C;
  --rm-grey: #EBEDF0;
  --rm-teal: #69C7D3;
  --rm-red: #FF856D;
  --rm-blue: #86BFEF;
  --rm-green: #83B309;
  --rm-orange: #F99B30;
  --rm-dark: #151B1E;
}

.rm-text { color: var(--rm-text); }
.rm-text-2 { color: var(--rm-text-2); }

.rm-teal   { color: var(--rm-teal); }
.rm-red    { color: var(--rm-red); }
.rm-blue   { color: var(--rm-blue); }
.rm-green  { color: var(--rm-green);  }
.rm-orange { color: var(--rm-orange); }

.rm-teal-hover:hover   { color: var(--rm-teal); }
.rm-red-hover:hover     { color: var(--rm-red); }
.rm-blue-hover:hover    { color: var(--rm-blue); }
.rm-green-hover:hover   { color: var(--rm-green);  }
.rm-orange-hover:hover  { color: var(--rm-orange); }

.bg-grey { background: var(--rm-grey); }
.bg-teal    { background: var(--rm-teal); }
.bg-red     { background: var(--rm-red); }
.bg-blue    { background: var(--rm-blue); }
.bg-green   { background: var(--rm-green);  }
.bg-orange  { background: var(--rm-orange); }
.bg-dark  { background: var(--rm-dark); }
