body, html, main {
  height: 100%;
}

.pageContainer {
  padding-top: 60px;
}

.pageContainer-xl {
  padding-top: 120px;
}

.container {
  max-width: 1600px;
  padding: 0 2rem;
  margin: 0 auto;
}

.container-size {
  max-width: 1200px;
  padding: 0 2rem;
  margin: 0 auto;
}

.container-mobile-padding {
  padding: 0 0;
}

@media (--breakpoint-not-small) {
  .container,
  .container-mobile-padding,
  .container-size {
    padding: 0 4rem;
  }
}



@media (--breakpoint-not-small) {
  .stickyAside-fixed {
    position: fixed;
    top: 0;
    margin-top: 80px;
  }

  .stickyAside-bottom {
    position: absolute;
  }

  .stickyAside {
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -webkit-transform: translate3d(0, 0, 0);
  }

  .blogpost .stickyAside-bottom {
    bottom: 420px !important;
  }
}
