.btn-menu {
  width: 60px;
  height: 60px;
  background-image: url('/dist/images/menuToggleIcon.png') at-2x;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  cursor: pointer;
}

.btn-menu-close {
  background-image: url('/dist/images/menuToggleIconClose.png') at-2x;
  z-index: 100;
}

.menu {
  display: none;
  height: 100%;
  z-index: 999999;
}

.menu.menu-active {
  /*display: block;*/
}

.menu-container {
  display: flex;
  align-items: center;
  height: 100%;
}
