.btn-menu {
  cursor: pointer;
}

.btn-menu:hover {
  opacity: .5;
}

.btn-menu-close {
  background-image: url('/dist/images/menuToggleIconClose-white.png') at-2x;
  z-index: 100;
  background-size: 40%;
}

.btn-menu-close-white {
  background-image: url('/dist/images/menuToggleIconClose-white.png') at-2x;
  z-index: 100;
  background-size: 40%;
}

.menu {
  display: none;
  height: 100%;
  z-index: 999999;
}

.menu .header,
.contactModal .header {
  background: none;
}

.menu.menu-active {
  /*display: block;*/
}

.menu-container {
  display: flex;
  align-items: center;
  height: 100%;
}
