.rain {
  display: block;
  position: absolute;
  width: 200%;
  height: 200%;
  z-index: -1;
  top: -50%;
  left: -50%;
  overflow: hidden;
  background: linear-gradient(180deg, #69c7d3, #ffffff, #ff856d, #ffffff, #86bfef, #ffffff, #83b309, #ffffff, #f99b30);
  background-size: 1800% 1800%;

  background: linear-gradient(180deg, #69c7d3, #ffffff, #ff856d, #ffffff, #86bfef, #ffffff, #83b309, #ffffff, #f99b30);
  background-size: 1800% 1800%;

  -webkit-animation: AnimationName 47s ease infinite;
  -moz-animation: AnimationName 47s ease infinite;
  animation: AnimationName 47s ease infinite;
}

  @-webkit-keyframes AnimationName {
      0%{background-position:53% 0%}
      50%{background-position:48% 100%}
      100%{background-position:53% 0%}
  }
  @-moz-keyframes AnimationName {
      0%{background-position:53% 0%}
      50%{background-position:48% 100%}
      100%{background-position:53% 0%}
  }
  @keyframes AnimationName {
      0%{background-position:53% 0%}
      50%{background-position:48% 100%}
      100%{background-position:53% 0%}
  }
