/* Media Query Variables */

@custom-media --breakpoint-not-small screen and (min-width: 48em);
@custom-media --breakpoint-medium screen and (min-width: 48em) and (max-width: 64em);
@custom-media --breakpoint-large screen and (min-width: 64em);


.roundPhoto {
  border-radius: 999px;
  overflow: hidden;
}

.roundPhoto img {
  width: 100%;
}

.roundPhoto-l {
  width: 200px;
  height: 200px;
}

.quoteBlock-border {
  border: solid 15px #fff;
}

.quoteBlock-border-teal   { border-color: #CDE8EC; }
.quoteBlock-border-red    { border-color: #F5D8D3; }
.quoteBlock-border-blue   { border-color: #DEEDFA; }
.quoteBlock-border-green  { border-color: #E0ECC1;  }
.quoteBlock-border-orange { border-color: #FEE6CB; }

.roundPhoto-400 {
  width: 400px;
  height: 400px;
}

.roundPhoto-300 {
  width: 300px;
  height: 300px;
}

.roundPhoto-200 {
  width: 200px;
  height: 200px;
}

.roundPhoto-150 {
  width: 150px;
  height: 150px;
}

.roundPhoto-100 {
  width: 100px;
  height: 100px;
}

.roundPhoto-80 {
  width: 80px;
  height: 80px;
}

.roundPhoto-50 {
  width: 50px;
  height: 50px;
}

@media (--breakpoint-not-small) {
  .roundPhoto-300-ns {
    width: 300px;
    height: 300px;
  }

  .roundPhoto-150-ns {
    width: 150px;
    height: 150px;
  }

  .roundPhoto-100-ns {
    width: 100px;
    height: 100px;
  }

  .roundPhoto-200-ns {
    width: 200px;
    height: 200px;
  }

  .roundPhoto-80-ns {
    width: 80px;
    height: 80px;
  }

  .roundPhoto-50-ns {
    width: 50px;
    height: 50px;
  }
}

@media (--breakpoint-medium) {
  .roundPhoto-300-m {
    width: 300px;
    height: 300px;
  }

  .roundPhoto-200-m {
    width: 200px;
    height: 200px;
  }

  .roundPhoto-150-m {
    width: 150px;
    height: 150px;
  }

  .roundPhoto-100-m {
    width: 100px;
    height: 100px;
  }

  .roundPhoto-80-m {
    width: 80px;
    height: 80px;
  }

  .roundPhoto-50-m {
    width: 50px;
    height: 50px;
  }
}

@media (--breakpoint-large) {
  .roundPhoto-300-l {
    width: 300px;
    height: 300px;
  }

  .roundPhoto-200-l {
    width: 200px;
    height: 200px;
  }

  .roundPhoto-150-l {
    width: 150px;
    height: 150px;
  }

  .roundPhoto-100-l {
    width: 100px;
    height: 100px;
  }

  .roundPhoto-80-l {
    width: 80px;
    height: 80px;
  }

  .roundPhoto-50-l {
    width: 50px;
    height: 50px;
  }
}
