@custom-media --breakpoint-not-small screen and (min-width: 48em);
@custom-media --breakpoint-medium screen and (min-width: 48em) and (max-width: 64em);
@custom-media --breakpoint-large screen and (min-width: 64em);

.slashHeader__bg {
  display: block;
  height: auto;
}

@media (--breakpoint-large) {
  .slashHeader__bg {
    height: 500px;
    -webkit-clip-path: polygon(0 0%, 100% 0%, 100% 500px, 0% 280px);
    clip-path: polygon(0 0%, 100% 0%, 100% 600px, 0% 340px);
  }
  .slashHeader-content-m {
    margin-top: -80px;
  }
}
