@custom-media --breakpoint-not-small screen and (min-width: 48em);
@custom-media --breakpoint-medium screen and (min-width: 48em) and (max-width: 64em);
@custom-media --breakpoint-large screen and (min-width: 64em);

body {
  font-family: var(--graphik-font-family);
  font-size: 15px;
  font-weight: 100;
  color: var(--rm-text);
  line-height: 26px;
}

.caps-small-f {
  font-size: 12px;
  font-family: var(--futura-font-family);
  font-weight: 100;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.caps-xsmall-f {
  font-size: 10px;
  font-family: var(--futura-font-family);
  font-weight: 100;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.fxl {
  font-family: var(--futura-font-family);
  font-weight: 200;
  font-size: 43px;
  line-height: 1.2em;
}


.f1, .f2, .f3, .f4,
.content h1, .content h2, .content h3 {
  font-family: var(--futura-font-family);
  font-weight: 200;
}

.f1,
.content h1 {
  line-height: 2.2rem;
}

.f2,
.content h2 {
  line-height: 2rem;
}

.text-small {
  font-size: 10px;
  letter-spacing: 1px;
  line-height: 16px;
}

.text-xsmall {
  font-size: 9px;
  letter-spacing: 1px;
  line-height: 14px;
}

.lead {
  font-family: var(--graphik-font-family);
  font-weight: 200;
  font-size: 18px;
  line-height: 31px;
}

@media (--breakpoint-large) {
  .lead {
    font-size: 18px;
    line-height: 30px;
  }
}

.menuType {
  font-size: 18px;
  line-height: 25px;
  font-weight: 300;
  color: var(--rm-text);
  text-decoration: none;
  opacity: .6;
}

.menuType:hover {
  opacity: 1;
}


.fadeUnderline {
  position: relative;
}

.fadeUnderline:after {
  content: "";
  display: block;
  width: 150px;
  height: 1px;
  position: absolute;
  bottom: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0e122b+0,ffffff+100 */
  background: #0e122b; /* Old browsers */
  background: -moz-linear-gradient(left,  #0e122b 0%, #ffffff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #0e122b 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #0e122b 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e122b', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

.link {
  border-bottom: solid 1px var(--rm-blue);
  text-decoration: none;
  color: var(--rm-blue);
}

.greyText {
  color: #7E7E7E;
}

.text-secondary {
  color:
}
