@custom-media --breakpoint-not-small screen and (min-width: 48em);
@custom-media --breakpoint-small screen and (max-width: 48em);
@custom-media --breakpoint-medium screen and (min-width: 48em) and (max-width: 64em);
@custom-media --breakpoint-large screen and (min-width: 64em);

.btn {
  background: #68767C;
  display: inline-block;
  color: #fff;
  font-size: 13px;
  font-family: var(--futura-font-family);
  border: solid 1px #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 2rem 2rem;
  outline: none;
}

.btn-small {
  padding: 10px 20px;
}

.btn-nopad {
  padding-left: 0;
  padding-right: 0;
}

.btn-outline-white {
  background: none;
 border: solid 1px #fff;
 color: #fff;
}

.btn-continue {
  background-color: #68767C;
  background-image: url('/dist/images/arrow-white-right.svg');
  background-position: center;
  background-repeat: no-repeat;
  min-width: 68px;
}

.btn-continue-100 {
  background-color: #86BFEF;
  background-image: url('/dist/images/arrow-white-right.svg');
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}
@media (--breakpoint-small) {
  .btn-continue-100-s {
    background-color: #86BFEF;
    background-image: url('/dist/images/arrow-white-right.svg');
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
  }
}

.btn-teal   { background-color: #69C7D3; }
.btn-red    { background-color: #FF856D; }
.btn-blue   { background-color: #86BFEF; }
.btn-green  { background-color: #83B309;  }
.btn-orange { background-color: #F99B30; }

.btn-teal:hover   { background-color: #58A8B2 !important; }
.btn-red:hover     { background-color: #E9725A !important; }
.btn-blue:hover    { background-color: #66A2D4 !important; }
.btn-green:hover   { background-color: #6D9509 !important;  }
.btn-orange:hover  { background-color: #D57E1A !important; }

.btn:hover {
  background-color: #8698A0;
  color: #fff;
}
